
/* 
Tu ngoai vao trong
Tu tren xuong duoi,
tu trai sang phai
Tong quan den chi tiet*/

/* 
1. Vi tri
2. Kich thuoc (width, height)
3. Mau sac
4. Kieu dang (kieu chu, hinh dang, . . */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

/*  Common */

.text-white{
    color: #fff;
}

.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;

}

.col-half{
    width: 50%;
}

.col-full{
    width:100%
}

.col-third {
    width: 33.33333%;
}

.text-center {
    text-align: center !important;
}
/* header-section */

#header {
    height: 46px;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.search-btn{
    float: right;
    color: #fff;
    padding: 0 21px;
    line-height: 46px;
    display: inline-block;
}

.search-btn:hover{
    background-color: red;
    cursor: pointer;
}
#nav .arrow-down{
    font-size: 14px;
}

#nav {
    display: inline-block;
}
#nav > li{
    display: inline-block;

}

#nav li   {
    position: relative;    
}

#nav > li:hover > a,
#nav .subnav li:hover a  {
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

#nav>li>a{
    color: white;

}

#nav li:hover .subnav{
    display: block;
}
#nav li > a{
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    width: 100% ;
    font-weight: bolder;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    list-style-type: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3 );
    min-width: 160px;

    
}

#nav .subnav a{
    color: black;
    list-style-type: none;
    padding-left: 16px;
    line-height: 38px;
}


/* slider-section */


#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/W3-Band/assets/img/slider1.jpg') top center / cover no-repeat;
}

#slider .text-content{
    position: absolute;
    color: #fff;
    bottom: 47px;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;
}
#slider .text-description{
    font-size: 15px;
    padding-top: 25px;
}



/* content-section */



.content .content-section{
    padding: 64px 16px;
    
}

.content-section .heading-section{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 4px;
    
}

.content-section .heading-sub-section{
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
}

.content .about{
    margin-top:15px;
    text-align: justify;
    line-height: 1.4;
    font-size: 15px;
}

.content .member-lists{
    padding-top: 47px;
}

.content .member-name{
    margin-top: 30px;
    font-size: 15px;
    
}
.content .member-img{
    margin-top: 15px;
    width: 154px;
    border-radius: 4px;
}

.content-section .about,.member-lists{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

/* tour-section */

.tour-section {
    background-color: #000;
    padding-top: 78px;;
}

.tour-section .heading-section{
    color: #fff;
    background-color: #000;
}

.tour-section .content-section{
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    
}
.tour-section .heading-sub-section{
    color: #ccc;
    text-align: center;
    margin-top: 25px;
    opacity: 0.6;
}

.tickets-lists {
    background-color: #fff;
    margin-top: 40px;
}

.tickets-lists .sold-out{
    padding: 3px 4px;
    background-color: #F44336;
    color: rgb(255, 255, 255);
}

.tickets-lists li{
    padding: 8px 16px;
    font-size: 15px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    list-style-type: none;
    margin-left: 16px;
}
.tickets-lists .quantyti{
    float: right;
    width: 24px;
    height: 24px;
    background-color: #000;
    color: #fff;
    text-align: center;
    line-height: 24px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    margin-right: 16px;
    margin-top: -3px;
}

/* places */

.places-list{
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: -24px;
    margin-right: -24px;
    padding-bottom: 78px;
}

.place-item{
    float: left;
    width: 33.33333%;
    padding: 0 8px;
    margin: 0 ;
    font-size: 15px;
}

.place-img{
    width: 100%;
    display: block;
}

.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;

}
.place-heading{
    font-size: 15px;

}
.place-time{
    margin-top: 15px;
    opacity: 0.6;
}
.place-content{
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 20px;  
}
.buy-btn{
    width: 108px;
    height: 38px;
    background-color: #000;
    color: #fff;
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
}

.buy-btn:hover{
    color: #000;
    background-color: #ccc;
    display: inline-block;
}

/* contact */

.contact-section {
    background-color: #fff;
    padding-top: 80px;
    
}

.contact-section 

/* modal */

.modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4 );
    align-items: center;
    /* display: none; */
    justify-content: center;
}

.modal.open{
    /* display: flex; */
}
.modal-container{
    background: #fff;
    width: 900px;
    min-height: 200px;
    position: relative;
    /* max-width: calc(100%-32px); */
    animation: modalFadein ease 0.3s;
}

.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 4px;
}

.ti-bag{
    margin-right: 16px;
}

.ti-close{
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
}

.ti-close:hover{
    color: #000;
    background-color: #ccc;
    display: inline-block;
    cursor: pointer;
}
.modal-body {
    padding: 16px;
}
.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;    
}

.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
}

#buy-tickets {
    width: 100%;
    padding: 13px;
    color: #fff;
    background-color: #009688;
    font-weight: 600;
    font-size: 15px;
    border: none;
}

.ti-check{
    font-weight: 600;
}

#buy-tickets:hover{
    color: #000;
    background-color: #ccc;
    display: inline-block;
    cursor: pointer;
}

.modal-help {
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: right;
    margin-right: 16px;
}

.modal-help a{
    color: #2196F3;
}

@keyframes modalFadein{
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}